SESSION_ID="levanter_sessionid"
VPS="true"
AUTO_UPDATE="true"
PREFIX = .
STICKER_PACKNAME = LyFE
ALWAYS_ONLINE = false
RMBG_KEY = null
LANGUAG = en
WARN_LIMIT = 3
FORCE_LOGOUT = false
BRAINSHOP = 159501,6pq8dPiYt7PdqHz3
MAX_UPLOAD = 200
REJECT_CALL = false
SUDO = 233544812902
TZ = Africa/Accra
AUTO_STATUS_VIEW= no-dl &delay
SEND_READ = false
AJOIN = false
DISABLE_START_MESSAGE = false
PERSONAL_MESSAGE = null"
